{
    "debug": false,
    "enabledPids": [
        3,
        47,
        5,
        4,
        12,
        13,
        15,
        11,
        35,
        17,
        31,
        70,
        92,
        94
    ],
    "pidToVariableName": {
        "3": "fuel_status",
        "4": "engine_load",
        "5": "coolant_temp",
        "11": "intake_pressure",
        "12": "rpm",
        "13": "speed",
        "15": "intake_air_temp",
        "17": "throttle_position",
        "31": "run_time",
        "35": "fuel_pressure",
        "47": "fuel_level",
        "70": "outside_air_temp",
        "92": "oil_temp",
        "94": "fuel_rate"
    }
}